<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_trans_bg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_trans_bg"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bambooratwarriors"
        tools:targetApi="31">

        <service android:name=".OverlaySettings" android:enabled="true" />

        <activity
            android:name=".OverlaySettings"
            android:exported="false" />
        <activity
            android:name=".seemoredesc"
            android:exported="false" />
        <activity
            android:name=".ouremblemdesc"
            android:exported="false" />
        <activity
            android:name=".merchandise"
            android:exported="false" />
        <activity
            android:name=".bamboowarriorsdesc"
            android:exported="false" />
        <activity
            android:name=".contactUs"
            android:exported="false" />
        <activity
            android:name=".Reg_screen"
            android:exported="false" />
        <activity
            android:name=".loginscreen_loading"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>